<section>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="teacherId">
      <th mat-header-cell *matHeaderCellDef>Teacher</th>
      <td mat-cell *matCellDef="let element"> {{getTeacher(element.teacherId) | userName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Click to view" class="iconbutton" color="primary" (click)="goToLesson( element.id)">
          <mat-icon aria-label="View">View</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'teacherId', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'teacherId', 'actions'];"></tr>
  </table>
</section>


